.admin_login_box
{
background-color:
}
.right_link_text
{
font-size:14px;
font-weight:normal;
}
body
{
font-family:"Trebuchet MS";
color:#202F12;
font-size:12px;
background-repeat:repeat-x;
background-image:url(/images/background_bg.png);
background-color:#D5FFAC;
}
a:link
{
color:black;
text-decoration:none;
}
a:visited
{
color:black;
text-decoration:none;
}
a:hover
{
color:black;
text-decoration:underline;
}
#bottom_box
{
font-size:9px;
color:black;
text-align:center
}
.color_box
{

}
.expand_ticket_box
{
padding:2px;
margin:5px;
border:1px dotted #D1EFB3;
background:url(/images/ticket_bg.png);
} 
.expand_ticket_options_box
{
border:1px solid #8EAF6D;
border-top:0px solid black;
background-image:url(/images/main_input_bg.png);
background-color:#D5FFAC;
background-repeat:repeat-y;
margin-right:2px;
margin-left:2px;
}
.expand_ticket_options_title
{
border:1px solid #8EAF6D;
background-image:url(/images/ticket_options_bar.png);
background-repeat:repeat-x;
font-weight:bold;
}
.form_box
{
background:url(/images/box_bg_top.png);
background-repeat:no-repeat;
padding:2px;
}
h1, h2, h3, h4, h5, h6
{
margin:0px;
}
hr
{
border:0px solid #789061;
margin:0px;
}
input,textarea
{
font-family:"Trebuchet MS";
font-size:12px;
background-image:url(/images/main_input_bg.png);
background-color:#D5FFAC;
background-repeat:repeat-y;
border:1px solid #5E6F4C;
overflow:auto;
}
.main_logo
{
background:url(/images/logo.png);
width:307px;
height:93px;
background-repeat:no-repeat;
}
.main_logo_tech
{
background:url(/images/logo_small.png);
width:169px;
height:41px;
background-repeat:no-repeat;
}
.main_submit
{
background-image:url(/images/main_submit_bg.png);
background-repeat:repeat-x;
font-weight:bold;
font-size:10px;
}
.main_table_bottom
{
background:url(/images/main_table_bg_bottom.png);
width:830px;
height:44px;
background-repeat:no-repeat;
}
.main_table_middle
{
width:800px;
padding-left:30px;
background:url(/images/main_table_bg_middle.png);
background-repeat:repeat-y;
}
.main_table_top
{
background:url(/images/main_table_bg_top.png);
width:830px;
height:38px;
background-repeat:no-repeat;
}
.post_box_user_post
{
border:1px dotted #576F3E;
background-color:#CFFFF5;
padding:2px;
margin-bottom:5px
}
.post_box_tech_reply
{
border:1px dotted #576F3E;
background-color:#7FD2FF;
padding:2px;
margin-bottom:5px
}
.post_box_tech_comment
{
border:1px dotted #576F3E;
background-color:#AFAFAF;
padding:2px;
margin-bottom:5px
}
.post_box_admin_reply
{
border:1px dotted #576F3E;
background-color:#C7FF8F;
padding:2px;
margin-bottom:5px
}
.post_box_title
{
background-color:white;
font-size:10px;
padding:2px;
margin-bottom:3px;
border-bottom:1px solid #6F6F6F
}
.right_link_text
{
font-size:18px;
font-weight:normal;
}
.right_links_bottom
{
width:200px;
height:27px;
background:url(/images/right_links_bg_bottom.png);
background-repeat:no-repeat;
}
.right_links_middle
{
width:200px;
background:url(/images/right_links_bg_middle.png);
background-repeat:repeat-y;
}
.right_links_padding
{
padding-left:35px
}
.right_links_top
{
width:200px;
height:8px;
background:url(/images/right_links_bg_top.png);
background-repeat:no-repeat;
}
select
{
font-family:"Trebuchet MS";
background:#D5FFAC;
border:1px solid #5E6F4C;
font-size:12px;
}
table
{
}
td
{
padding:0px;
border-spacing:0px;
table-layout:inherit;
border:0px solid black;
}
.ticket_col0
{
background-color:#E7FFCF;
border-bottom:1px solid #576F3E;
padding:5px;
}
.ticket_col1
{
background-color:#D1EFB3;
border-bottom:1px solid #576F3E;
padding:5px;
}

